.michelogo {
  width: 230px;
  display: inline-block;
  margin: 0 auto;
}

.amvlogo {
  height: 60px;
}

footer {
  font-size: 18px;

  .social-media-icon {
    margin-right: 17px;
    height: 30px;
  }
}
