<div class='container'>
  <p class='text-center'>
  Si estás interesado o tienes alguna duda, por favor envía un correo a info@sdkcolima.com
  </p>
  <div class='row mt-5 pt-5'>
    <div class='col'>
      <div class='text-center mb-2'>patrocinado por:</div>
      <a href='http://michelada.io'>
        <%= image_tag 'michelada-logo.svg', class: 'michelogo' %>
      </a>
    </div>
    <div class='col'>
      <div class='text-center mb-2'>con ayuda de:</div>
      <a href='http://www.webdevtalks.mx/'>
        <%= image_tag 'wdt-logo@2x.png', class: 'michelogo' %>
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2 px-0 mt-4">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item pr-2 pt-1">
      <a href='https://twitter.com/sdkcolima'>
        <%= image_tag 'twitter.svg', class: 'social-media-icon' %>
      </a>
      <a href='https://www.facebook.com/sdkcolima'>
        <%= image_tag 'facebook.svg', class: 'social-media-icon' %>
      </a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link p-0 pt-2 pt-sm-0" href="codigo-de-conducta.html">c&oacute;digo de conducta</a>
    </li>
  </ul>
</nav>
