---
title: sdk 2018
---
<main class='container'>
  <header class='row'>
    <div class='col-md-10 offset-md-1 col-lg-8 offset-lg-2'>
      <%= image_tag 'hero-logo.svg', class: 'hero-logo mx-auto img-fluid d-block' %>
    </div>
  </header>
  <section>
    <p class='hero-copy mt-5'>
      SDK Colima es un evento cuyo objetivo es acercar a expertos en tecnologías y lenguajes de programación a la comunidad de desarrolladores de Colima.
    </p>
    <p class='hero-copy mt-1'>
      Queremos expandir el panorama de opciones para quienes desean dedicarse profesionalmente a desarrollar software.
    </p>
  </section>

  <%= partial 'speakers' %>
</main>
