---
title: sdk 2019
---
<main class='container coming-soon d-flex flex-column align-items-center justify-content-center'>
  <div class="d-flex flex-column content">
    <h1 class="mb-3">Próximamente</h1>
    <%= image_tag 'sdk-white.svg', class: 'main-logo mb-2' %>
    <p class='year'>2019</p>
    <p class="follow">síguenos en</p>
    <div class="d-flex justify-content-end socials">
      <a href='https://www.facebook.com/sdkcolima'>
        <%= image_tag 'facebook.svg', class: 'd-inline-block', height: 45 %>
      </a>
      <a href='https://twitter.com/sdkcolima'>
        <%= image_tag 'twitter.svg', class: 'd-inline-block', height: 45 %>
      </a>
      <a href='http://michelada.io'>
        <%= image_tag 'instagram.svg', class: 'd-inline-block', height: 45 %>
      </a>
    </div>
  </div>
</main>
